@import url('https://fonts.googleapis.com/css2?family=Courgette&family=League+Spartan:wght@100;400;600;700&family=Spectral:wght@200;400;500;600;700&display=swap');
/* :root {
} */

[data-color='Deep Space'] {
    --primary-color: #0fb58f;
    --primary-med-opacity: rgba(15, 181, 143, 0.6);
    --primary-low-opacity: rgba(15, 181, 143, 0.2);
    --primary-variant: rgb(118, 113, 209);
    --emph-color: rgb(164, 1, 39);
    --secondary-color: rgb(44, 134, 223);
    --on-primary: rgb(252, 245, 255);
    --on-background: rgb(34, 34, 34);
    --on-background-alt: rgb(255, 238, 238);
    --background: rgb(252, 245, 255);
    --background-high-opacity: rgba(252, 245, 255, 0.65);
    --background-med-opacity: rgba(252, 245, 255, 0.4);
    --background-low-opacity: rgba(252, 245, 255, 0.1);
    --footer: rgb(0, 0, 8);
    --diagram-filter: hue-rotate(290deg);
}
[data-color='Go Green'] {
    --primary-color: rgb(55, 146, 55);
    --primary-med-opacity: rgba(55, 146, 55, 0.6);
    --primary-low-opacity: rgba(55, 146, 55, 0.2);
    --primary-variant: rgb(240, 255, 66);
    --emph-color: rgb(5, 116, 1);
    --secondary-color: rgb(84, 180, 53);
    --on-primary: rgb(255, 255, 255);
    --on-background: rgb(41, 65, 45);
    --on-background-alt: rgb(214, 238, 194);
    --background: rgb(252, 245, 255);
    --background-high-opacity: rgba(252, 245, 255, 0.65);
    --background-med-opacity: rgba(252, 245, 255, 0.4);
    --background-low-opacity: rgba(252, 245, 255, 0.1);
    --footer: rgb(0, 0, 15);
    --diagram-filter: hue-rotate(200deg);
}
[data-color='Pastels'] {
    --primary-color: #f675a8;
    --primary-med-opacity: rgb(188, 226, 158);
    --primary-low-opacity: rgb(188, 226, 158, 0.3);
    --primary-variant: rgb(242, 211, 136);
    --emph-color: rgb(112, 108, 238);
    --secondary-color: rgb(188, 226, 158);
    --on-primary: rgb(255, 238, 238);
    --on-background: rgb(34, 34, 34);
    --on-background-alt: rgb(255, 238, 238);
    --background: rgb(205, 252, 246);
    --background-high-opacity: rgba(252, 245, 255, 0.9);
    --background-med-opacity: rgba(252, 245, 255, 0.7);
    --background-low-opacity: rgba(252, 245, 255, 0.3);
    --footer: rgb(0, 0, 15);
    --diagram-filter: hue-rotate(100deg);
}

[data-font='Sans-Serif'] {
    --body-font: 'League Spartan', sans-serif;
}
[data-font='Serif'] {
    --body-font: 'Spectral', serif;
}
[data-font='Script'] {
    --body-font: 'Courgette', cursive;
}

[data-corners='Sharp'] {
    --border-radius: 0px;
    --border-radius-round: 5px;
}
[data-corners='Rounded'] {
    --border-radius: 8px;
    --border-radius-round: 35px;
}
[data-corners='Circular'] {
    --border-radius: 50px;
    --border-radius-round: 100px;
}

[data-flatness='Normal'] {
    --box-shadow: 0 3px 4px rgba(34, 34, 34, 0.5);
    --box-shadow-colored: 0 2px 5px var(--primary-low-opacity);
}
[data-flatness='Flat'] {
    --box-shadow: 0px 0px 3px rgba(34, 34, 34, 0.2);
    --box-shadow-colored: 0px 0px 3px var(--primary-low-opacity);
}
[data-flatness='Pop-Out'] {
    --box-shadow: 4px 4px 0px rgba(34, 34, 34, 0.7);
    --box-shadow-colored: 0px 2px 8px var(--primary-med-opacity);
}

/* --------------------------------------------------------------------------------------- */
/* TEST ZONE - MOVE OR DELETE BEFORE LAUNCH */
.outline-box {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 25px 25px 10px 25px;
    border-radius: var(--border-radius);
}

.design-card-col {
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.collapse {
    transition: all 0.3s ease;
}
.show {
    transition: all 0.3s ease;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -3;
    overflow: hidden;
    transition: all 0.2s ease;
}

.dot {
    padding-right: 25px !important;
}

.blink-overlay {
    filter: opacity(0);
}

/* Bootstrap overwrites */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-med-opacity);
}

.btn-outline-primary {
    background-color: white;
    color: var(--primary-color);
    border-color: var(--primary-med-opacity);
}

.btn {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Ctrl Panel - RADIO BUTTONS */
/* Customize the label (the container) */
.radio-container {
    display: block;
    position: relative;
    padding: 10px 20px 10px 50px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--on-background);
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 15px;
    /* border: 0.5px solid var(--primary-variant); */
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a --primary background */
.radio-container input:checked ~ .checkmark {
    background-color: var(--primary-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* --------------------------------------------------------------------------------------- */

body {
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--primary-color) !important;
    overflow-x: hidden;
}

section {
    width: 100% !important;
    overflow: hidden;
}

/* section.panel {
    height: 120vh;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--body-font) !important;
}

ul {
    padding-left: 0;
}
li {
    list-style: none;
    transition: all ease 0.5s;
    color: var(--on-background);
}

li:hover {
    color: var(--primary-color);
}

p {
    color: var(--on-background);
    margin-top: 0;
    font-size: 1.2em;
    line-height: 1.6em;
    font-family: var(--body-font);
}

a {
    color: var(--emph-color);
}

button .fa-solid {
    padding-right: 8px;
    transition: all 0.3s ease;
}
button:hover .fa-solid {
    padding-right: 15px;
    transition: all 0.3s ease;
}

.highlight {
    /* background-color: var(--primary-color); */
    background-image: linear-gradient(
        130deg,
        var(--primary-color) 20%,
        var(--primary-med-opacity) 100%
    );
    color: var(--on-primary);
    padding: 10px 10px 10px 30px;
    width: fit-content;
    font-weight: 600;
    margin: 13px 0;
    border-radius: var(--border-radius);
    box-shadow: inset var(--box-shadow);
    text-shadow: 2px 2px var(--on-background);
}

.card {
    border-radius: var(--border-radius) !important;
}

p.emph-text {
    color: var(--primary-color);
}

button .fa-solid {
    padding-right: 8px;
    transition: all 0.3s ease;
}
button:hover .fa-solid {
    padding-right: 15px;
    transition: all 0.3s ease;
}

/* #hero {
    height: 40vh;
} */

#hero .container-fluid {
    z-index: 1;
    background-color: var(--primary-color);
    background-image: linear-gradient(
        130deg,
        var(--primary-color) 40%,
        var(--secondary-color) 100%
    );
    border-top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    color: var(--on-primary);
}

#hero .headline {
    position: relative;
    font-family: var(--body-font);
}

#hero #logo img {
    filter: opacity(95%);
}

.invert {
    transition: all 0.5s;
    filter: invert(100%);
}

#hero .image-container {
    position: absolute;
}

#hero img.diagram {
    filter: var(--diagram-filter) drop-shadow(var(--box-shadow));
}

#intro {
    min-height: 70vh;
    background-color: var(--background);
    color: var(--on-background);
}

#design {
    transition: all 0.5s ease;
    /* padding-top: 20px; */
    min-height: 60vh;
    padding-bottom: 10%;
    background-image: linear-gradient(
        180deg,
        var(--background) 10%,
        var(--background-low-opacity) 90%
    );
}

.thru-line {
    position: absolute;
    background: var(--on-background);
    border-radius: var(--border-radius-round);
    height: 230vh;
    /* FIXIT */
    top: -230vh;
    z-index: 0;
    left: 15px;
    width: 20px;
}

.thru-line2 {
    position: absolute;
    background: var(--primary-color);
    border-radius: var(--border-radius-round);
    height: 150vh;
    /* FIXIT */
    top: -150vh;
    left: 15px;
    width: 20px;
}

.design-line-container .line {
    background-color: var(--on-background);
    border-radius: var(--border-radius-round);
}

.design-line-container .dot {
    background-color: var(--on-background);
    border-radius: var(--border-radius-round);
    flex-grow: 0;
}
/* 
#design {
    height: 900px;
} */

#design .card {
    box-shadow: var(--box-shadow);
    transition: all 0.5s ease;
    border: 3px solid transparent;
}

#design .card:active {
    box-shadow: none;
    border-color: var(--secondary-color);
    transition: all 0.1s ease;
}

#design .card-title {
    font-size: 1.8rem;
}

#design .card-text {
    line-height: 1.8rem;
}

.dev-line-container {
    /* space above dev-line */
    padding-top: 70px;
}

.dev-line-container h2 {
    color: var(--on-primary);
}

.dev-line-container .line {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-round);
}

.dev-line-container .dot {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-round);
    flex-grow: 0;
}

.line h2 {
    font-weight: 400;
    text-transform: uppercase;
}

.design-line-container h2 {
    color: var(--background);
}

.card-badge {
    padding: 15px 12px;
    line-height: 0;
    background-color: var(--primary-color);
    text-align: center;
    width: fit-content;
    height: min-content;
    border-radius: var(--border-radius-round);
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    position: absolute;
    top: -15px;
    left: -2px;
    transform: rotate(6deg);
    /* z-index: 0; */
}

.open .card-badge {
    padding: 18px 12px;
    font-size: 1.5em;
    width: 35.266%;
    text-align: left;
    margin: 0;
    border-radius: 0;
    transform: rotate(0deg) translateX(-30px);
    box-shadow: 3px var(--box-shadow-colored);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 2.675);
    border: 2px solid white;
    border-radius: var(--border-radius);
}

.open .card-title {
    transform: translate(8px, -90%);
    transition: all 1s ease;
    color: var(--on-primary);
    /* z-index: 4; */
}

/* DEVELOPMENT SECTION*/

.wrapper.overlay.dark {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
        130deg,
        rgba(0, 0, 0, 0.5) 20%,
        var(--primary-low-opacity) 100%
    );
    width: 100%;
    height: 100%;
    animation: shift 6s ease 0s infinite alternate;
}

@keyframes shift {
    0% {
        background-color: rgba(0, 0, 0, 0.4);
    }
    30% {
        background-color: rgba(0, 0, 0, 0.4);
    }
    100% {
        background-color: var(--primary-low-opacity);
    }
}

#development #parallax {
    position: relative;
    background-position: 50% 50%;
    background-repeat: repeat;
    color: var(--background);
}

#development h5 {
    font-weight: 400;
    color: var(--on-background);
}

#development .custom-shape-divider-top-1666295937 {
    position: relative;
    fill: var(--background);
    top: -0.5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#development .container.content .card {
    background: #ffffff44;
    border: 2px solid var(--background);
}
#development .container.content .card h5,
#development .container.content .card p {
    color: whitesmoke;
}
#development .container.content .card hr {
    background-color: whitesmoke;
}

.control-panel {
    background-color: #ddd;
    background-repeat: repeat;
    background-image: url('https://www.transparenttextures.com/patterns/squared-metal.png');
    max-width: 80%;
    border: 4px solid #ffffff22;
    border-radius: var(--border-radius);
}

.control-panel h4 {
    color: #333;
    font-weight: 100;
}
.control-panel h4 {
    font-size: 1.9em;
}

.control-panel .card {
    background-color: var(--background-med-opacity);
    box-shadow: var(--box-shadow);
}

.control-panel .card-title {
    color: var(--on-background) !important;
}
.control-panel .card-text {
    color: var(--on-background) !important;
}

#demos {
    background: var(--secondary-color);
    background-image: url(/src/img/diagonal-striped-brick.png);
}

#demos video {
    border-radius: var(--border-radius);
}

#demos .row .col {
    z-index: 1;
}

#demos .card {
    background-color: var(--background-med-opacity);
    border-radius: var(--border-radius);
}
/* Info card at top of section */
#demos .card.info {
    background-color: var(--background-high-opacity);
    border-radius: var(--border-radius);
    font-weight: 400;
}

#demos .card.info .card-text {
    text-align: center;
}
#demos .card.info .card-text span {
    font-weight: 700;
}
#demos .card.info .card-text .rainbow {
    font-weight: 600;
    display: block;
    padding: 3px 0;
    margin: 5px 20%;
    color: var(--on-background-alt);
    border-radius: var(--border-radius);
    background-image: linear-gradient(
        130deg,
        var(--primary-color) 40%,
        var(--secondary-color) 100%
    );
    transition: all 0.5s ease;
}
#demos .card.info .card-text span:hover {
    filter: hue-rotate(270deg);
    transition: all 2s ease;
}
#demos .card.demo {
    z-index: 1;
    margin: 5% 0%;
}

#demos .card-body {
    padding: 10px;
}

/* remaining cards are DEMO cards */
#demos .card.demo .card-title {
    background-color: var(--background-med-opacity);
    width: fit-content;
    padding: 2px 5%;
    font-size: 1.1rem;
    border-radius: var(--border-radius);
    text-align: center;
}

#demos .card.demo .card-text {
    font-size: 1rem;
    padding: 2px 5px;
    border-radius: var(--border-radius);
    background-color: var(--background-med-opacity);
}

#demos .card .card-text {
    color: var(--on-background);
}

#demos .card-footer {
    padding: 2px 20px;
    /* background-color: var(--background-med-opacity); */
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.card-badge-title {
    display: flex;
    justify-content: space-between;
}
.client-logo-badge img {
    width: 60px;
    padding: 3px;
    border-radius: var(--border-radius);
    background-color: var(--background-med-opacity);
}

img-comparison-slider {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: inherit;
    /* Handle styling */
    --divider-width: 2px;
    --divider-color: rgba(0, 0, 0, 0.5);
    --default-handle-opacity: 0.3;
    --default-handle-color: var(--on-background);
    max-height: 200px;
}

img-comparison-slider img {
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

/* Launch (Hello World) section */

#launch {
    background: url(/src/img/earth-from-space.jpg);
    background-position-y: -50px;
    background-size: cover;
    box-shadow: 0 -10px 30px 10px var(--background-med-opacity);
    z-index: 2;
    min-height: 100vh;
}
#launch .title {
    font-size: 4rem;
    color: whitesmoke;
}
#launch .title-row {
    height: 20vh;
    align-items: center;
}

#launch .card {
    padding: 10px 20px;
    background-color: var(--background-high-opacity);
    color: var(--on-background);
}

#launch .card .card {
    padding: 20px 20px 0;
    background: var(--background-high-opacity);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: var(--footer);
    border-top: 2px ridge var(--background-low-opacity);
    padding-top: 1.2em;
}

#footer-logo {
    position: relative;
    max-width: 80%;
    width: 100px;
}

footer h5 {
    color: var(--background-high-opacity);
}
footer hr {
    background-color: var(--background-med-opacity);
    margin: 5px 0.5em;
    width: 60%;
}
footer li {
    padding: 0.2em 0 0 0;
}

footer .footer-link {
    color: var(--background-med-opacity);
    transition: all 0.3s ease;
    padding: 8px 10px;
    border-radius: var(--border-radius);
}
footer .footer-link:hover {
    color: var(--on-primary);
    background-color: var(--primary-color);
    transition: all 0.3s ease;
    text-decoration: none;
}

footer .footer-link i {
    margin-right: 0.5em;
    transform: translateY(0.1em);
}
/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Media Queries for device sizes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* EXTRA SMALL (xs) devices (portrait phones, up to 576px) */
@media (min-width: 280px) {
    li {
        padding: 10px 0;
    }

    button .fa-solid {
        padding-right: 8px;
        transition: all 0.3s ease;
    }
    button:hover .fa-solid {
        padding-right: 15px;
        transition: all 0.3s ease;
    }

    /* Hero */

    #hero .container-fluid {
        padding-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    #hero .headline {
        top: 5vh;
        /* right: 30px; */
        font-size: 2rem;
        line-height: normal;
        width: 45%;
    }

    #hero #logo {
        width: 50%;
    }

    #hero #logo img {
        width: 100%;
        margin: 3vh 0 0 2vw;
    }

    #hero .image-container {
        display: none;
    }

    /* Intro */
    #intro {
        margin-top: -150px;
        padding-top: 150px;
    }

    #intro .row.copy {
        margin: 20px 0 20px 20px;
    }

    #intro .row {
        margin: 0 0 0 5%;
    }
    #intro button {
        width: 100%;
    }

    /* Design */

    .thru-line,
    .thru-line2 {
        left: 2px;
    }

    /* #design {
        min-height: 1130px;
    } */
    .line h2 {
        font-size: 1.8rem;
        letter-spacing: 1px;
        padding-top: 20px;
        padding-bottom: 13px;
        line-height: 0;
        margin: 4px 0;
    }

    #design .container {
        padding-left: 40px;
    }

    .design-line-container .line {
        margin-left: 5px;
    }
    .design-line-container .dot {
        margin-left: 20px;
    }
    .design-line-container h2 {
        padding-left: 2%;
        font-size: xx-large;
    }

    .open .card-badge {
        width: 110%;
    }
    #design .open .card-title {
        font-size: 1.5rem;
    }

    #development .wrapper {
        padding-bottom: 10%;
    }
    #development #parallax {
        /* height: 110vh; */
        /* padding-bottom: 10%; */
        background-image: url('img/daniel-olah-HNkgPFBShSw-unsplash.jpg');
    }

    .control-panel .card-title {
        font-size: larger;
    }

    /*  */
    #development .custom-shape-divider-top-1666295937 {
        margin-bottom: 4rem;
    }

    #development .container.content {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .dev-line-container .line {
        margin-left: 17px;
    }
    .dev-line-container .dot {
        margin-left: 20px;
    }
    .dev-line-container h2 {
        padding-left: 2%;
        font-size: xx-large;
    }

    .dropdown-btn {
        transform: translateX(-100%);
        margin-right: 15px;
    }

    .dropdown-btn i {
        border-radius: var(--border-radius);
        padding: 10px;
        color: var(--on-background);
        outline: 1px solid var(--on-background);
    }

    /* Demos section */

    #demos .title {
        font-size: 4em;
        letter-spacing: 2vw;
        line-height: 1em;
        margin: 8% 20px 0;
        color: var(--background-high-opacity);
        position: relative;
    }

    #demos .card {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
    #demos .card.info {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    li {
        padding: 10px 0;
    }

    button .fa-solid {
        padding-right: 8px;
        transition: all 0.3s ease;
    }
    button:hover .fa-solid {
        padding-right: 15px;
        transition: all 0.3s ease;
    }

    /* Hero */
    #hero .container-fluid {
        height: 350px;
        padding-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    #hero .headline {
        top: 80px;
        /* right: 30px; */
        font-size: 2rem;
        line-height: normal;
        width: 45%;
    }

    #hero #logo {
        width: 30vw;
    }

    #hero #logo img {
        width: 100%;
        margin: 5vh 0 0 5vw;
    }

    #hero .image-container {
        display: block;
        top: 150px;
        right: 5vw;
        width: 40vw;
        z-index: 2;
    }
    #hero img.diagram {
        width: 100%;
        margin-bottom: 20px;
    }
    /* Intro */
    #intro {
        margin-top: -150px;
        padding-top: 150px;
    }

    #intro .row.copy {
        margin: 40px 5%;
        padding-bottom: 20px;
    }
    #intro .row {
        margin: 0 0 0 5%;
    }

    /* Design */

    .thru-line,
    .thru-line2 {
        left: 15px;
    }

    .line h2 {
        font-size: 2.2rem;
        letter-spacing: 3px;
        padding-top: 20px;
        padding-bottom: 13px;
        line-height: 0;
        margin: 4px 0;
    }

    .design-line-container .line {
        margin-left: 15px;
    }
    .design-line-container .dot {
        margin-left: 20px;
    }
    .design-line-container h2 {
        padding-left: 7%;
        font-size: xx-large;
    }
    .open .card-badge {
        width: 85.266%;
    }

    #development .wrapper {
        padding-bottom: 10%;
    }
    #development #parallax {
        /* height: 110vh; */
        /* padding-bottom: 10%; */
        background-image: url('img/daniel-olah-HNkgPFBShSw-unsplash.jpg');
    }

    /*  */
    #development .info h5 {
        font-size: xx-large;
    }
    #development .custom-shape-divider-top-1666295937 {
        margin-bottom: 4rem;
    }

    #development .container.content {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .dev-line-container .line {
        margin-left: 30px;
    }
    .dev-line-container .dot {
        margin-left: 20px;
    }
    .dev-line-container h2 {
        padding-left: 7%;
        font-size: xx-large;
    }

    .control-panel .card-title {
        font-size: large;
    }

    /* Demos section */

    #demos .title {
        font-size: 8vw;
        letter-spacing: -0.1vw;
        line-height: 20vh;
        color: var(--background-high-opacity);
        position: absolute;
    }

    #demos .card {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
    #demos .card.info {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        overflow-x: hidden;
    }

    li {
        padding: 10px 0;
    }

    button .fa-solid {
        padding-right: 8px;
        transition: all 0.3s ease;
    }
    button:hover .fa-solid {
        padding-right: 15px;
        transition: all 0.3s ease;
    }

    /* Hero */
    #hero .container-fluid {
        height: 400px;
        padding-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    #hero .headline {
        top: 80px;
        right: 50%;
        transform: translateX(100%);
        font-size: 2.5rem;
    }

    #hero #logo {
        width: 50%;
    }

    #hero #logo img {
        width: 280px;
        margin: 5vh 0 0 8vw;
    }

    #hero .image-container {
        display: block;
        top: 150px;
        right: 5vw;
        width: 40vw;
        z-index: 2;
    }

    #hero img.diagram {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Intro */
    #intro {
        margin-top: -150px;
        padding-top: 150px;
    }

    #intro .row.copy {
        margin: 40px 5% 0;
        padding-bottom: 20px;
    }
    #intro .row {
        margin: 0 0 0 5%;
    }

    /* Design */
    /* #design {
        min-height: 1000px;
    } */

    #design p {
        /* margin-top: 30px; */
        margin-left: 20px;
    }

    .thru-line,
    .thru-line2 {
        left: 15px;
    }

    #development .wrapper {
        padding-bottom: 10%;
    }
    #development #parallax {
        height: 120vh;
        /* padding-bottom: 10%; */
        background-image: url('img/daniel-olah-HNkgPFBShSw-unsplash.jpg');
    }

    /*  */
    #development .info h5 {
        font-size: xx-large;
    }
    #development .custom-shape-divider-top-1666295937 {
        margin-bottom: 4rem;
    }

    #development .container.content {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .dev-line-container .line {
        margin-left: 30px;
    }
    .dev-line-container .dot {
        margin-left: 20px;
    }
    .dev-line-container h2 {
        padding-left: 7%;
        font-size: xx-large;
    }

    /* Demos section */

    #demos {
        min-height: 120vh;
    }

    #demos .title {
        font-size: 8vw;
        letter-spacing: -0.1vw;
        line-height: 20vh;
        color: var(--background-high-opacity);
        position: absolute;
    }

    #demos .card {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
    #demos .card.info {
        font-size: 0.9rem;
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }

    #demos .card.demo .card-title {
        font-size: 1.1rem;
        padding: 2px 5%;
    }
    #demos .card.demo .card-text {
        font-size: 1rem;
        padding: 10px 15px;
    }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        overflow-x: hidden;
    }

    li {
        padding: 10px 0;
    }

    button .fa-solid {
        padding-right: 8px;
        transition: all 0.3s ease;
    }
    button:hover .fa-solid {
        padding-right: 15px;
        transition: all 0.3s ease;
    }

    /* Hero */
    #hero .container-fluid {
        height: 450px;
        padding-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    #hero .headline {
        top: 100px;
        right: 50%;
        transform: translateX(100%);
        font-size: 2.8rem;
    }

    #hero #logo {
        width: 50%;
    }

    #hero #logo img {
        width: 350px;
    }

    #hero .image-container {
        top: 180px;
        right: 5%;
        width: 40vw;
        z-index: 2;
    }

    #hero img.diagram {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Intro */
    #intro {
        margin-top: -150px;
        padding-top: 150px;
    }

    #intro .row.copy {
        margin: 40px 5% 0;
        padding-bottom: 20px;
    }
    #intro .row {
        margin: 0 0 0 5%;
    }

    /* Design */
    /* #design {
        min-height: 80vh;
    } */

    #design p {
        /* margin-top: 30px; */
        margin-left: 20px;
    }

    #development .wrapper {
        padding-bottom: 10%;
    }
    #development #parallax {
        height: 110vh;
        /* padding-bottom: 10%; */
        background-image: url('img/daniel-olah-HNkgPFBShSw-unsplash.jpg');
    }

    /*  */
    #development .info h5 {
        font-size: xx-large;
    }
    #development .custom-shape-divider-top-1666295937 {
        margin-bottom: 4rem;
    }

    #development .container.content {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .dev-line-container .line {
        margin-left: 30px;
    }
    .dev-line-container .dot {
        margin-left: 20px;
    }
    .dev-line-container h2 {
        padding-left: 7%;
        font-size: xx-large;
    }

    /* Demos section */

    #demos {
        min-height: 120vh;
    }

    #demos .title {
        font-size: 8vw;
        letter-spacing: -0.1vw;
        line-height: 20vh;
        color: var(--background-high-opacity);
        position: absolute;
    }

    #demos .card {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
    #demos .card.info {
        font-size: 0.9rem;
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }

    #demos .card.demo .card-title {
        font-size: 1.1rem;
        padding: 2px 5%;
    }
    #demos .card.demo .card-text {
        font-size: 1rem;
        padding: 10px 15px;
    }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    li {
        padding: 10px 0;
    }

    button .fa-solid {
        padding-right: 8px;
        transition: all 0.3s ease;
    }
    button:hover .fa-solid {
        padding-right: 15px;
        transition: all 0.3s ease;
    }

    /* Hero */
    #hero .container-fluid {
        height: 50vh;
        padding-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    #hero .headline {
        top: 120px;
        right: 50%;
        transform: translateX(100%);
        font-size: 2.8rem;
    }

    #hero #logo {
        width: 50%;
    }

    #hero #logo img {
        width: 350px;
    }

    #hero .image-container {
        top: 200px;
        right: 4%;
        width: 40vw;
        /* max-width: 650px; */
        z-index: 2;
    }

    #hero img.diagram {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Intro */
    #intro {
        margin-top: -150px;
        padding-top: 150px;
    }

    #intro .row.copy {
        margin: 40px 5% 0;
        padding-bottom: 20px;
    }
    #intro .row {
        margin: 0 0 0 5%;
    }

    /* Design */
    /* #design {
        min-height: 80vh;
    } */

    #development .wrapper {
        padding-bottom: 10%;
    }
    #development #parallax {
        height: 110vh;
        /* padding-bottom: 10%; */
        background-image: url('img/daniel-olah-HNkgPFBShSw-unsplash.jpg');
    }

    /*  */
    #development .info h5 {
        font-size: xx-large;
    }
    #development .custom-shape-divider-top-1666295937 {
        margin-bottom: 4rem;
    }

    #development .container.content {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .dev-line-container .line {
        margin-left: 30px;
    }
    .dev-line-container .dot {
        margin-left: 20px;
    }
    .dev-line-container h2 {
        padding-left: 7%;
        font-size: xx-large;
    }

    /* Demos section */

    #demos .title {
        font-size: 8vw;
        letter-spacing: -0.5vw;
        line-height: 20vh;
        color: var(--background-high-opacity);
        position: absolute;
    }

    #demos .card {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
    #demos .card.info {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }

    #demos .card.demo .card-title {
        font-size: 1.1rem;
        padding: 2px 5%;
    }
    #demos .card.demo .card-text {
        font-size: 1rem;
        /* padding: 2px 5px; */
    }
}
