/* @import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Edu+QLD+Beginner:wght@400;500;600;700&family=League+Spartan:wght@100;400;600;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400&family=Rasa:wght@400;500;600;700&family=Sora:wght@100;300;400;500;700&family=Spectral:wght@200;400;500;600;700&display=swap'); */
[data-color='Deep Space'] {
    --primary-color: rgb(15, 181, 143);
    --primary-med-opacity: rgba(15, 181, 143, 0.6);
    --primary-low-opacity: rgba(15, 181, 143, 0.2);
    --primary-variant: rgb(10, 234, 181);
    --emph-color: white;
    --secondary-color: rgb(9, 3, 28);
    --on-primary: rgb(252, 245, 255);
    --on-background: rgb(34, 34, 34);
    --on-background-alt: rgb(255, 238, 238);
    --background: rgb(252, 245, 255);
    --background-high-opacity: rgba(252, 245, 255, 0.65);
    --background-med-opacity: rgba(252, 245, 255, 0.4);
    --background-low-opacity: rgba(252, 245, 255, 0.1);
    --footer: rgb(0, 0, 8);
    --diagram-filter: hue-rotate(290deg);
}
[data-color='Profital Purple'] {
    --primary-color: rgb(68, 18, 133);
    --primary-med-opacity: rgba(68, 18, 133, 0.6);
    --primary-low-opacity: rgba(68, 18, 133, 0.2);
    --primary-variant: rgb(157, 40, 211);
    --emph-color: rgb(210, 246, 65);
    --secondary-color: rgb(86, 11, 113);
    --on-primary: rgb(255, 255, 255);
    --on-background: #111;
    --on-background-alt: rgb(194, 204, 247);
    --background: rgb(252, 245, 255);
    --background-high-opacity: rgba(252, 245, 255, 0.65);
    --background-med-opacity: rgba(252, 245, 255, 0.4);
    --background-low-opacity: rgba(252, 245, 255, 0.1);
    --footer: rgb(15, 2, 32);
    --diagram-filter: hue-rotate(20deg);
}
[data-color='Pastels'] {
    --primary-color: rgb(246, 117, 168);
    --primary-med-opacity: rgb(188, 226, 158);
    --primary-low-opacity: rgb(188, 226, 158, 0.3);
    --primary-variant: rgb(242, 211, 136);
    --emph-color: rgb(112, 108, 238);
    --secondary-color: rgb(113, 192, 225);
    --on-primary: rgb(255, 238, 238);
    --on-background: rgb(34, 34, 34);
    --on-background-alt: rgb(255, 238, 238);
    --background: rgb(205, 252, 246);
    --background-high-opacity: rgba(252, 245, 255, 0.9);
    --background-med-opacity: rgba(252, 245, 255, 0.7);
    --background-low-opacity: rgba(252, 245, 255, 0.3);
    --footer: rgb(0, 0, 15);
    --diagram-filter: hue-rotate(100deg);
}

[data-font='Sans-Serif'] {
    /* --header-font: 'Sora', sans-serif; */
    --header-font: 'Montserrat', sans-serif;
    --body-font: 'League Spartan', sans-serif;
}
[data-font='Serif'] {
    --header-font: 'Spectral', serif;
    --body-font: 'Rasa', serif;
}
[data-font='Script'] {
    --header-font: 'Bad Script', cursive;
    --body-font: 'Edu QLD Beginner', cursive;
}
[data-corners='Sharp'] {
    --border-radius: 0px;
    --border-radius-round: 5px;
}
[data-corners='Rounded'] {
    --border-radius: 8px;
    --border-radius-round: 35px;
}
[data-corners='Circular'] {
    --border-radius: 35px;
    --border-radius-round: 100px;
}

[data-flatness='Normal'] {
    --box-shadow: 0 3px 4px rgba(34, 34, 34, 0.5);
    --box-shadow-colored: 0 2px 5px var(--primary-low-opacity);
}
[data-flatness='Flat'] {
    --box-shadow: 0px 0px 3px rgba(34, 34, 34, 0.2);
    --box-shadow-colored: 0px 0px 3px var(--primary-low-opacity);
}
[data-flatness='Pop-Out'] {
    --box-shadow: 4px 4px 0px rgba(34, 34, 34, 0.7);
    --box-shadow-colored: 0px 2px 8px var(--primary-med-opacity);
}

/* change demos BG pattern based on color theme */
body[data-color|='Deep Space'] #demos {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='96' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23555555' fill-opacity='0.2'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body[data-color|='Profital Purple'] #demos {
    background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
}

body[data-color|='Pastels'] #demos {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23ffffff' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* --------------------------------------------------------------------------------------- */
/* TEST ZONE - MOVE OR DELETE BEFORE LAUNCH */
.outline-box {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 25px 25px 10px 25px;
    border-radius: var(--border-radius);
}

.design-card-col {
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.collapse {
    transition: all 0.3s ease;
}
.show {
    transition: all 0.3s ease;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -3;
    overflow: hidden;
    transition: all 0.2s ease;
}

.dot {
    padding-right: 25px !important;
}

.blink-overlay {
    filter: opacity(0);
}

/* Bootstrap overwrites */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-med-opacity);
}

.btn-outline-primary {
    background-color: white;
    color: var(--primary-color);
    border-color: var(--primary-med-opacity);
}

.btn {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Ctrl Panel - RADIO BUTTONS */
/* Customize the label (the container) */
.radio-container {
    display: block;
    position: relative;
    padding: 10px 20px 10px 50px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--on-background);
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 15px;
    /* border: 0.5px solid var(--primary-variant); */
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a --primary background */
.radio-container input:checked ~ .checkmark {
    background-color: var(--primary-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* --------------------------------------------------------------------------------------- */

body {
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--primary-color) !important;
    overflow-x: hidden;
}

section {
    width: 100% !important;
    overflow: hidden;
}

/* section.panel {
    height: 120vh;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font) !important;
}

ul {
    padding-left: 0;
}
li {
    list-style: none;
    transition: all ease 0.5s;
    color: var(--on-background);
}

li:hover {
    color: var(--primary-color);
}

p {
    color: var(--on-background);
    margin-top: 0;
    font-size: 1.2em;
    line-height: 1.6em;
    font-family: var(--body-font);
}

a {
    color: var(--emph-color);
}

button .fa-solid {
    padding-right: 8px;
    transition: all 0.3s ease;
}
button:hover .fa-solid {
    padding-right: 15px;
    transition: all 0.3s ease;
}

.highlight {
    /* background-color: var(--primary-color); */
    background-image: linear-gradient(
        130deg,
        var(--primary-color) 20%,
        var(--primary-med-opacity) 100%
    );
    color: var(--on-primary);
    padding: 10px 10px 10px 30px;
    width: fit-content;
    font-weight: 600;
    margin: 13px 0;
    border-radius: var(--border-radius);
    box-shadow: inset var(--box-shadow);
    text-shadow: 2px 2px var(--on-background);
}

.card {
    border-radius: var(--border-radius) !important;
}

p.emph-text {
    color: var(--primary-color);
}

button .fa-solid {
    padding-right: 8px;
    transition: all 0.3s ease;
}
button:hover .fa-solid {
    padding-right: 15px;
    transition: all 0.3s ease;
}

#hero .container-fluid {
    background-color: var(--primary-color);
    background-image: linear-gradient(
        130deg,
        var(--primary-color) 40%,
        var(--secondary-color) 100%
    );
    border-top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    color: var(--on-primary);
    z-index: 2;
}

#hero .headline {
    position: relative;
    font-family: var(--body-font);
}

#hero #logo img {
    filter: opacity(95%);
}

.invert {
    transition: all 0.5s;
    filter: invert(100%);
}

#intro {
    min-height: 70vh;
    background-color: var(--background);
    color: var(--on-background);
    background-image: linear-gradient(
        0deg,
        var(--background) 20%,
        var(--primary-low-opacity) 80%
    );
}

.image-container {
    position: absolute;
}

img.diagram {
    filter: var(--diagram-filter) drop-shadow(var(--box-shadow));
}

.thru-line {
    position: absolute;
    background: var(--on-background);
    border-radius: var(--border-radius-round);
    height: 230vh;
    /* FIXIT */
    top: -230vh;
    z-index: 1;
    left: 15px;
    width: 20px;
}

.thru-line2 {
    position: absolute;
    background: var(--primary-color);
    border-radius: var(--border-radius-round);
    height: 150vh;
    /* FIXIT */
    top: -150vh;
    left: 15px;
    width: 20px;
    z-index: 3;
}

.design-line-container .line {
    background-color: var(--on-background);
    border-radius: var(--border-radius-round);
}

.design-line-container .dot {
    background-color: var(--on-background);
    border-radius: var(--border-radius-round);
    flex-grow: 0;
}
#design {
    transition: all 0.5s ease;
    min-height: 60vh;
    background-color: var(--background);
    /* background-image: url('https://www.transparenttextures.com/patterns/skulls.png'); */
    background-image: url('https://www.transparenttextures.com/patterns/white-diamond.png');
}

.title-wrap .fa-solid {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 6vh;
    color: var(--primary-low-opacity);
}

.title-wrap .fa-solid.open {
    color: var(--primary-med-opacity);
}

#design .container-fluid {
    padding-top: 60px;
    background-image: linear-gradient(
        0deg,
        transparent 0%,
        var(--background) 50%
    );
}

#design .container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}

#design .card {
    box-shadow: var(--box-shadow);
    transition: all 0.5s ease;
    border: 3px solid transparent;
    z-index: 2;
}

#design .card:active {
    box-shadow: none;
    border-color: var(--secondary-color);
    transition: all 0.1s ease;
}

#design .card-title {
    font-size: 1.8rem;
}

#design .card-text {
    line-height: 1.8rem;
    max-width: 85%;
}

.dev-line-container {
    /* space above dev-line */
    padding-top: 70px;
}

.dev-line-container h2 {
    color: var(--on-primary);
}

.dev-line-container .line {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-round);
}

.dev-line-container .dot {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-round);
    flex-grow: 0;
}

.line h2 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 1px;
    padding-top: 18px;
    padding-bottom: 15px;
    line-height: 0;
    margin: 4px 0;
}

.design-line-container h2 {
    color: var(--background);
}

.card-badge {
    padding: 15px 12px;
    line-height: 0;
    background-color: var(--primary-color);
    text-align: center;
    width: fit-content;
    height: min-content;
    border-radius: var(--border-radius-round);
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    position: absolute;
    top: -15px;
    left: -16px;
    transform: rotate(6deg);
    /* z-index: 2; */
}

.open .card-badge {
    padding: 18px 12px;
    font-size: 1.5em;
    width: 35.266%;
    text-align: left;
    margin: 0;
    border-radius: 0;
    transform: rotate(0deg) translateX(-30px);
    box-shadow: 3px var(--box-shadow-colored);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.675);
    border: 2px solid white;
    border-radius: var(--border-radius);
    left: 0;
}

.open .card-title {
    transform: translate(8px, -90%);
    transition: all 0.6s ease;
    color: var(--on-primary);
    /* z-index: 4; */
}

/* DEVELOPMENT SECTION*/

.wrapper.overlay.dark {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    background-image: linear-gradient(
        130deg,
        rgba(0, 0, 0, 0.5) 20%,
        var(--primary-low-opacity) 100%
    );
    width: 100%;
    min-height: 100%;
}
#development {
    height: 100vh;
}
#development #parallax {
    width: 100%;
    height: inherit;
    z-index: 2;
    position: relative;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: var(--background);
    background-image: url('img/daniel-olah-HNkgPFBShSw-unsplash.jpg');
}

#wave-motion {
    position: absolute;
    z-index: 0;
    filter: opacity(0.2);
    min-width: 100%;
    min-height: 100%;
}

#development h5 {
    font-weight: 400;
    color: var(--on-background);
}

#development .custom-shape-divider-top-1666295937 {
    position: relative;
    fill: var(--background);
    top: -0.5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#development .container.content .card {
    background: #ffffff44;
    border: 2px solid var(--background);
}
#development .container.content .card h5,
#development .container.content .card p {
    color: whitesmoke;
}
#development .container.content .card hr {
    background-color: whitesmoke;
}

.control-panel {
    background-color: #ddd;
    background-repeat: repeat;
    background-image: url('https://www.transparenttextures.com/patterns/brushed-alum-dark.png');
    max-width: 95%;
    border: 4px solid #ffffff22;
    border-radius: var(--border-radius);
    position: relative;
}

.control-panel h4 {
    color: #333;
    font-weight: 300;
}
.control-panel h4 {
    font-size: 1.9em;
}

.control-panel .card {
    background-color: var(--background-high-opacity);
    box-shadow: var(--box-shadow);
    /* z-index: 6;  */
}

.control-panel .card-title {
    color: var(--on-background) !important;
}
.control-panel .card-text {
    color: var(--on-background) !important;
}

/* DEMOS section */

.custom-shape-divider-bottom-1667848863 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1667848863 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1667848863 .shape-fill {
    fill: var(--secondary-color);
}

body #demos {
    position: relative;
    background-color: var(--primary-color);
    z-index: 0;
}

.demos-overlay {
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    background: linear-gradient(
        0deg,
        var(--primary-color) 0%,
        var(--primary-low-opacity) 10%,
        var(--secondary-color) 90%
    );
}

#demos video {
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: 5px solid;
    border-color: var(--background-med-opacity);
    transition: all 0.3s ease;
}

#demos video:hover {
    transition: all 0.3s ease;
    border-radius: var(--border-radius);
    border-color: var(--primary-color);
}

#demos .row .col {
    z-index: 1;
}

#demos .card {
    background-color: var(--background-med-opacity);
    border-radius: var(--border-radius);
}
/* Info card at top of section */
#demos .card.info {
    background-color: var(--background-high-opacity);
    border-radius: var(--border-radius);
    font-weight: 400;
}

#demos .card.info .card-text {
    text-align: center;
}
#demos .card.info .card-text span {
    font-weight: 700;
}
#demos .card.info .card-text .rainbow {
    font-weight: 600;
    display: block;
    padding: 3px 5px;
    margin: 5px 10%;
    color: var(--on-background-alt);
    border-radius: var(--border-radius);
    background-image: linear-gradient(
        130deg,
        var(--primary-color) 40%,
        var(--secondary-color) 100%
    );
    transition: all 0.5s ease;
}
#demos .card.info .card-text span:hover {
    filter: hue-rotate(270deg);
    transition: all 2s ease;
}
#demos .card.demo {
    z-index: 1;
    margin: 5% 0%;
}

#demos .card-body {
    padding: 10px;
}

/* remaining cards are DEMO cards */
#demos .card.demo .card-title {
    background-color: var(--background-med-opacity);
    width: 90%;
    height: fit-content;
    padding: 2px 5%;
    font-size: 1.1rem;
    border-radius: var(--border-radius);
    text-align: center;
    font-weight: 600;
    text-shadow: 0 2px var(--background-high-opacity);
}

#demos .card.demo .card-text {
    font-size: 1rem;
    padding: 2px 5px;
    border-radius: var(--border-radius);
    background-color: var(--background-med-opacity);
}

#demos .card .card-text {
    color: var(--on-background);
}

#demos .card-footer {
    padding: 2px 20px;
    /* background-color: var(--background-med-opacity); */
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.card-badge-title {
    display: flex;
    justify-content: space-between;
}

.client-logo-badge {
    margin-left: 3%;
    margin-bottom: 3%;
}

.client-logo-badge img {
    width: 60px;
    padding: 3px;
    border-radius: var(--border-radius);
    background-color: var(--background-med-opacity);
}

img-comparison-slider {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: inherit;
    /* Handle styling */
    --divider-width: 2px;
    --divider-color: rgba(0, 0, 0, 0.5);
    --default-handle-opacity: 0.3;
    --default-handle-color: var(--on-background);
    max-height: 200px;
}

img-comparison-slider img {
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

/* Launch (Hello World) section */

.custom-shape-divider-top-1667851140 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1667851140 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
    filter: drop-shadow(4px 0px 10px rgba(255, 255, 255, 0.6));
}

.custom-shape-divider-top-1667851140 .shape-fill {
    fill: var(--primary-color);
}

#launch {
    position: relative;
    z-index: 5;
    min-height: clamp(100vh, 100vh, 120vh);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080b10;
}

#launch-bg {
    position: absolute;
    background-image: url('img/earth-from-space.jpg');
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(0);
    height: 100%;
    width: 100%;
}

#launch .title {
    font-size: 4rem;
    color: whitesmoke;
}
#launch .title-row {
    height: 20vh;
    align-items: center;
}

#launch .card {
    padding: 10px 20px;
    background-color: var(--background-high-opacity);
    color: var(--on-background);
}

#launch .card .card {
    padding: 20px 20px 0;
    background: var(--background-high-opacity);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: var(--footer);
    border-top: 2px ridge var(--background-low-opacity);
    padding-top: 1.2em;
}

#footer-logo {
    position: relative;
    max-width: 80%;
    width: 100px;
}

footer h5 {
    color: var(--background-high-opacity);
}
footer hr {
    background-color: var(--background-med-opacity);
    margin: 5px 0.5em;
    width: 60%;
}
footer li {
    padding: 0.2em 0 0 0;
}

footer .footer-link {
    color: var(--background-med-opacity);
    transition: all 0.3s ease;
    padding: 8px 10px;
    border-radius: var(--border-radius);
}
footer .footer-link:hover {
    color: var(--on-primary);
    background-color: var(--primary-color);
    transition: all 0.3s ease;
    text-decoration: none;
}

footer .footer-link i {
    margin-right: 0.5em;
    transform: translateY(0.1em);
}
/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Media Queries for device sizes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* EXTRA SMALL (xs) devices (portrait phones, up to 576px) */
@media (min-width: 280px) {
    li {
        padding: 10px 0;
    }

    button .fa-solid {
        padding-right: 8px;
        transition: all 0.3s ease;
    }
    button:hover .fa-solid {
        padding-right: 15px;
        transition: all 0.3s ease;
    }

    /* Hero */

    #hero .container-fluid {
        padding-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    #hero .headline {
        top: 3vh;
        /* right: 30px; */
        font-size: 2rem;
        line-height: normal;
        width: 45%;
    }

    #hero #logo {
        width: 50%;
    }

    #hero #logo img {
        width: 100%;
        margin: 3vh 0 0 2vw;
    }

    .image-container {
        display: none;
    }

    /* Intro */
    #intro {
        margin-top: -150px;
        padding-top: 150px;
    }

    #intro .row.copy {
        margin: 20px 0;
    }

    #intro .row {
        margin: 0;
    }
    #intro button {
        width: 100%;
    }

    /* Design */

    .thru-line,
    .thru-line2 {
        display: none;
    }

    #design {
        min-height: 1350px;
    }

    #design .container {
        padding: 2% 20px;
    }

    .design-line-container .line {
        margin-left: -20px;
    }
    .design-line-container .dot {
        margin-left: 20px;
    }
    .design-line-container h2 {
        padding-left: 30px;
    }

    .open .card-badge {
        left: 15px;
        width: 90%;
    }
    #design .open .card-title {
        font-size: 1.5rem;
    }

    #development {
        height: 900px;
        transition: height 0.5s ease-in-out;
    }

    #development.mobile-expanded {
        height: 1900px;
        transition: height 0.5s ease-in-out;
    }

    #development .wrapper {
        padding-bottom: 10%;
    }

    .control-panel .card-title {
        font-size: larger;
    }

    /*  */
    #development .custom-shape-divider-top-1666295937 {
        margin-bottom: 4rem;
    }

    #development .container.content {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .dev-line-container .line {
        margin-left: -20px;
    }
    .dev-line-container .dot {
        margin-left: 20px;
    }
    .dev-line-container h2 {
        padding-left: 30px;
    }

    .dropdown-btn {
        transform: translateX(-100%);
        margin-right: 15px;
    }

    .dropdown-btn i {
        border-radius: var(--border-radius);
        padding: 10px;
        color: var(--on-background);
        outline: 1px solid var(--on-background);
    }

    /* Demos section */

    #demos .title {
        font-size: 4em;
        letter-spacing: 2vw;
        line-height: 1em;
        margin: 8% 0 0;
        color: var(--background-high-opacity);
        position: relative;
    }

    #demos .card {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
    #demos .card.info {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    li {
        padding: 10px 0;
    }

    button .fa-solid {
        padding-right: 8px;
        transition: all 0.3s ease;
    }
    button:hover .fa-solid {
        padding-right: 15px;
        transition: all 0.3s ease;
    }

    /* Hero */
    #hero .container-fluid {
        height: clamp(450px, 35%, 700px);
        padding-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    #hero .headline {
        top: 5vh;
        /* right: 30px; */
        font-size: 2rem;
        line-height: normal;
        width: 45%;
    }

    #hero #logo {
        width: 30vw;
    }

    #hero #logo img {
        width: 100%;
        margin: 5vh 0 0 5vw;
    }

    /* Intro */
    #intro {
        margin-top: -150px;
        padding-top: 150px;
    }

    /* unDraw diagram */
    .image-container {
        display: unset;
        top: 150px;
        right: 5vw;
        width: 40vw;
        z-index: 2;
    }
    img.diagram {
        width: 100%;
        margin-bottom: 20px;
    }

    #intro .row.copy {
        margin: 40px 5%;
        padding-bottom: 20px;
    }
    #intro .row {
        margin: 0 0 0 5%;
    }

    /* Design */

    #design {
        min-height: 1000px;
    }

    .thru-line,
    .thru-line2 {
        display: unset;
        left: 15px;
    }

    .design-line-container .line {
        margin-left: 15px;
    }
    .design-line-container .dot {
        margin-left: 20px;
    }
    .design-line-container h2 {
        padding-left: 7%;
    }
    .open .card-badge {
        width: 85.266%;
    }

    #development {
        height: 1300px;
    }

    #development .wrapper {
        padding-bottom: 10%;
    }

    /*  */
    #development .info h5 {
        font-size: xx-large;
    }
    #development .custom-shape-divider-top-1666295937 {
        margin-bottom: 4rem;
    }

    #development .container.content {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .dev-line-container .line {
        margin-left: 30px;
    }
    .dev-line-container .dot {
        margin-left: 20px;
    }
    .dev-line-container h2 {
        padding-left: 7%;
    }

    .control-panel .card-title {
        font-size: large;
    }

    /* Demos section */

    #demos .title {
        font-size: 12vw;
        letter-spacing: -0.2vw;
        line-height: 8vh;
        color: var(--background-high-opacity);
        position: relative;
    }

    #demos .card {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
    #demos .card.info {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        overflow-x: hidden;
    }

    li {
        padding: 10px 0;
    }

    button .fa-solid {
        padding-right: 8px;
        transition: all 0.3s ease;
    }
    button:hover .fa-solid {
        padding-right: 15px;
        transition: all 0.3s ease;
    }

    /* Hero */
    #hero .container-fluid {
        height: clamp(450px, 35%, 700px);
        padding-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    #hero .headline {
        right: 50%;
        transform: translateX(100%);
        font-size: 2.5rem;
    }

    #hero #logo {
        width: 50%;
    }

    #hero #logo img {
        width: 280px;
        margin: 5vh 0 0 8vw;
    }

    /* Intro */
    #intro {
        margin-top: -150px;
        padding-top: 150px;
    }

    #intro .row.copy {
        margin: 40px 5% 0;
        padding-bottom: 20px;
    }
    #intro .row {
        margin: 0 0 0 5%;
    }

    #design p {
        /* margin-top: 30px; */
        margin-left: 20px;
    }

    .thru-line,
    .thru-line2 {
        left: 15px;
    }

    #development {
        height: 1300px;
    }

    #development .wrapper {
        padding-bottom: 10%;
    }

    /*  */
    #development .info h5 {
        font-size: xx-large;
    }
    #development .custom-shape-divider-top-1666295937 {
        margin-bottom: 4rem;
    }

    #development .container.content {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .dev-line-container .line {
        margin-left: 30px;
    }
    .dev-line-container .dot {
        margin-left: 20px;
    }
    .dev-line-container h2 {
        padding-left: 7%;
    }

    /* Demos section */

    #demos {
        min-height: 100vh;
    }

    #demos .title {
        font-size: 8vw;
        letter-spacing: -0.1vw;
        line-height: 20vh;
        color: var(--background-high-opacity);
        position: absolute;
    }

    #demos .card {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
    #demos .card.info {
        font-size: 0.9rem;
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }

    #demos .card.demo .card-title {
        font-size: 1.1rem;
        padding: 2px 5%;
    }
    #demos .card.demo .card-text {
        font-size: 1rem;
        padding: 10px 15px;
    }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        overflow-x: hidden;
    }

    li {
        padding: 10px 0;
    }

    button .fa-solid {
        padding-right: 8px;
        transition: all 0.3s ease;
    }
    button:hover .fa-solid {
        padding-right: 15px;
        transition: all 0.3s ease;
    }

    /* Hero */
    #hero .container-fluid {
        height: clamp(450px, 35%, 700px);
        padding-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    #hero .headline {
        right: 50%;
        transform: translateX(100%);
        font-size: 2.8rem;
    }

    #hero #logo {
        width: 50%;
    }

    #hero #logo img {
        width: 350px;
    }

    /* Intro */
    #intro {
        margin-top: -150px;
        padding-top: 150px;
    }

    /* unDraw diagram */
    .image-container {
        top: 180px;
    }

    #intro .row.copy {
        margin: 40px 5% 0;
        padding-bottom: 20px;
    }
    #intro .row {
        margin: 0 0 0 5%;
    }

    /* Design */
    /* #design {
        min-height: 80vh;
    } */

    #design p {
        /* margin-top: 30px; */
        margin-left: 20px;
    }

    #development {
        height: 1200px;
    }

    #development .wrapper {
        padding-bottom: 10%;
    }

    /*  */
    #development .info h5 {
        font-size: xx-large;
    }
    #development .custom-shape-divider-top-1666295937 {
        margin-bottom: 4rem;
    }

    #development .container.content {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .dev-line-container .line {
        margin-left: 30px;
    }
    .dev-line-container .dot {
        margin-left: 20px;
    }
    .dev-line-container h2 {
        padding-left: 7%;
    }

    /* Demos section */

    #demos .title {
        font-size: 8vw;
        letter-spacing: -0.2vw;
        line-height: 20vh;
        color: var(--background-high-opacity);
        position: absolute;
    }

    #demos .card {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
    #demos .card.info {
        font-size: 0.9rem;
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }

    #demos .card.demo .card-title {
        font-size: 1.2rem;
        padding: 2px 5%;
    }
    #demos .card.demo .card-text {
        font-size: 1rem;
        padding: 10px 15px;
    }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    li {
        padding: 10px 0;
    }

    button .fa-solid {
        padding-right: 8px;
        transition: all 0.3s ease;
    }
    button:hover .fa-solid {
        padding-right: 15px;
        transition: all 0.3s ease;
    }

    /* Hero */
    #hero .container-fluid {
        height: clamp(450px, 35%, 700px);
        padding-bottom: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    #hero .headline {
        top: 5vh;
        right: 50%;
        transform: translateX(100%);
        font-size: 3.2rem;
    }

    #hero #logo {
        width: 50%;
    }

    #hero #logo img {
        width: 350px;
    }

    /* Intro */
    #intro {
        margin-top: -150px;
        padding-top: 150px;
    }
    /* unDraw diagram */
    .image-container {
        top: 200px;
        right: 4vw;
    }

    #intro .row.copy {
        margin: 40px 5% 0;
        padding-bottom: 20px;
    }
    #intro .row {
        margin: 0 0 0 5%;
    }

    /* Design */
    #development .wrapper {
        padding-bottom: 10%;
    }

    /*  */
    #development .info h5 {
        font-size: xx-large;
    }
    #development .custom-shape-divider-top-1666295937 {
        margin-bottom: 4rem;
    }

    #development .container.content {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .dev-line-container .line {
        margin-left: 30px;
    }
    .dev-line-container .dot {
        margin-left: 20px;
    }
    .dev-line-container h2 {
        padding-left: 7%;
    }

    /* Demos section */

    #demos .title {
        font-size: 6.5vw;
        letter-spacing: -0.5vw;
        line-height: 19vh;
        color: var(--background-high-opacity);
        position: absolute;
    }

    #demos .card {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }
    #demos .card.info {
        border: 0px solid rgba(255, 255, 255, 0.6);
        box-shadow: var(--box-shadow);
    }

    #demos .card.demo .card-title {
        font-size: 1.3rem;
        padding: 2px 5%;
    }
    #demos .card.demo .card-text {
        font-size: 1rem;
        /* padding: 2px 5px; */
    }
}
